<h1>{{title}}</h1>
<h2>Students</h2>
<div class="row">
    <div class="col-md-12">
        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <button class="btn btn-success" (click)="addHero()">Add New Student</button>
        </div>
        <input type="text" class="form-control" id="inputSuccess4" [(ngModel)]="search" placeholder="Search">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Year of birth</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of heroes | sudentsfilter:search" [class.active]="hero === selectedHero" (click)="onSelect(hero)">
                    <td>{{hero._id}}</td>
                    <td>{{hero.firstname}}</td>
                    <td>{{hero.lastname}}</td>
                    <td>{{hero.year}}</td>
                    <td>{{hero.department}}</td>
                    <td><button class="btn btn-danger" (click)="deleteHero(hero, $event)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="selectedHero">
            <h2>
                {{selectedHero.name | uppercase}} is my hero
            </h2>
            <button class="btn btn-primary" (click)="gotoDetail()">View Details</button>
        </div>
    </div>
</div>